.main{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 5em;
  grid-row-gap: 2em;
  margin: auto;
  justify-content: center;
  width: 100%;

  .loadIcon {
    width: 10em;
    height: 15em;
    text-align: center;
    vertical-align: middle;
    line-height: 15em;
  }

}

.tlTitle {
  color: white;
}

html{
  background: #000000;  
  background: -webkit-linear-gradient(to top, #434343, #000000);  
  background: linear-gradient(to top, #434343, #000000); 
}

.buttonHolder {
  display: grid;
  grid-template-columns: auto 10% auto;
  text-align: center;
  justify-items: center;

  .pageCounter {
    display: inline;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .paginateButton{
    width: 5em;
  }
}

.background-color {
  background: #000000;  
  background: -webkit-linear-gradient(to top, #434343, #000000);  
  background: linear-gradient(to top, #434343, #000000); 
}

.carousel-caption h3 {
  font-size: 66px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color:red;
} 

.carousel-caption p {
  opacity: 0;
}
.carousel-item > img { 
  position: relative;
  min-height: 100%;
  min-width: 1024px;
  height: 37.5em;
  width: 90%;
  margin-left: 5%; 
  background: center;
  background-size: cover;
}

.home-image{
  min-width: 1024px;
  opacity: 0.4;
  width: 100%;
  background: center;

  height: auto;
}

.advertise-text{
  position: absolute;
  font-weight: bold;
  color:white;
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;
}

.advertise-text h1{
  font-size: 3em;
  height: 0%;
  text-align: center;
}

.advertise-text p{
  font-size: 2em;
  text-align: center;
}
.advertise-text Button{
  position: absolute;
  top: 115%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.fullscreen{
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.moveCarousel{
  position: relative;
  margin-top: 1em; 
  margin-bottom: 1em; 
}

.post{

  margin-left: 3%;
  margin-bottom: 1%;
  color:white;
  background: #4a4a4a;
  border: 0.1em ridge white;
  width: 40em;
  padding: 0.5em;
}