.background-color {
    background: #000000;  
    background: -webkit-linear-gradient(to top, #434343, #000000);  
    background: linear-gradient(to top, #434343, #000000); 
  }

.slots-header h1{
    margin-top: 1em;
    font-size: 2em;
    color:white;
    font-weight: bold;
}

.rented-header h1{
    margin-top: 1em;
    font-size: 2em;
    color:white;
    font-weight: bold;
}

.rMovies-header h1{
    margin-top: 1em;
    font-size: 2em;
    color:white;
    font-weight: bold;
}

.rTv-header h1{
    margin-top: 1em;
    font-size: 2em;
    color:white;
    font-weight: bold;
}