.mediaBody {

    .boxArt {
        
    }
}
.background-color {
    background: #000000;  
    background: -webkit-linear-gradient(to top, #434343, #000000);  
    background: linear-gradient(to top, #434343, #000000); 
  }
.movie-container{
    position: relative;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    min-width: 1024;
    min-height: 100%;
    width: 75%;
    height: 80em;

    margin:auto;
  
}

.movie-container h1{
    color: white;
    font-size: 2em;
    position: absolute;
    left: 45%;
    top: 1%;
}

.movie-container h2{
    position: absolute;
    top: 68%;
    left: 3%;
    font-size: 1em;
    font-weight: bold;
    color: #838584;
}
.movie-container h3{
    color: #ff6900;
    font-size: 1.5em;
    position: absolute;
    bottom: 90%;
    left: 45%;
}

.movie-container h4{
    color: #ff6900;
    font-size: 1.5em;
    position: absolute;
    top: 35%;
    left: 45%;
}
.movie-container h5{
    position: relative;
    top: 48em;
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1em;
    font-weight: bold;
    color: #838584;
}

.movie-container p{
    position: absolute;
    top: 70%;
    color: white;
    width: 75%;
    margin-left: 1em;
}

.movie-container span{
    color: white;
    font-size: 0.8em;
}

.movie-container img{
    position:absolute;
    bottom: 46%;
    left: 1%;
    height: 53%;
    width: 42%;
    background: center;
}

.movie-container i{
    position: relative;
    left: 0.2em;
    font-size: 1em;
}
.play-video{
    position: absolute;
    top: 55%;
    right: 84%;
}

.rent-button{
    position: absolute;
    top: 55%;
    right: 70%;
}

.subscribe-button{
    position: absolute;
    top: 55%;
    right: 70%;
}

.season-position{
    margin-left: 35%
}

.episdoes-position{
    margin-left: 50%; 
}
#overflowBox {
   
    position:absolute;
    top: 11%;
    left: 45%;
    padding-top: 2%;
    padding-right: 20%;
    width: 40%;
    height: 10%;
    overflow-y: scroll;
    border: 1px inset gray;
  }