
.img {
        height: 75px;
        width: 150px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 25px;
    }

.relative {
    position: relative;
    text-align: center;
    font-size: 16px;

}
div.dark{
    background-color: rgba(0, 0, 0, 0.24);
}
