@import '../../styles/mixins';

.img {
        height: 50px;
        width: 100px;
        padding-right: 25px;
        padding-left: 25px;
    }

.relative {
    position: relative;
    text-align: center;
    font-size: 14px;
    color: white;

}
div.dark{
    background-color: #343a40;
}
