.color-me{
    color: white !important;
}
.centerModalHeader{
    margin-left: 4em;
}
.modalBody{
    margin-right: 5em ;
    margin-left: 5em;
}
 
.container {
position: fixed;
}

.spacing{
justify-content: space-between;
text-align: center;
margin-top: 0.18em;
margin-right: 2em;
}
.remember{
font-size: 15px;
margin: 0 5px;
}
