.color-me{
    color: white !important;
}

.brand{
    display: inline-block;
    padding-top: 0.31rem;
    padding-bottom: 0.31rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
}

.nav-item {
    padding: 0.75rem 0 0.8rem 0;
    .link {
        text-decoration: underline;
        font-weight: 400;
        line-height: 1.5;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display: inline-block;
        vertical-align: middle;
    }
}

.username {
    height: 1.5rem;
    margin-bottom: 0.2rem;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
}

.user {
    width: 3rem;
}

.centerModalHeader{

    h5 {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
    }
}
.modalBody{
    margin-right: 5em ;
    margin-left: 5em;
}

.spacing{
    justify-content: space-between;
    text-align: center;
    margin-top: 0.18em;
    margin-right: 2em;
}

.loadIcon {
    color: black !important;
}