.post{
    margin: auto;
    margin-bottom: 1%;
    color:white;
    background: #4a4a4a;
    border: 0.1em ridge white;
    width: 45em;
    padding: 0.5em;

    .postTitle {
        font-size: 1rem;
        line-height: 2.5rem;
        text-decoration: underline;
    }

    .message {
        text-align: left;
        font-size: 2rem;
    }

  }