<<<<<<< HEAD
.positioning{
        width:40em !important;
}
=======
.maintitle{
    font-size: 2rem;
    padding-right: 1%;
    padding-left: 1%;
}
.mainparagraph{
    word-wrap: normal;
    padding-right: 1%;
    padding-left: 2%;
    font-size: 1.2rem;
}
.paragraphtitle{
    font-size: 1.5rem;
    padding-right: 1%;
    padding-left: 1%;
}
.paragraph{
    word-wrap: normal;
    padding-right: 1%;
    padding-left: 2%;
}
>>>>>>> bf3dca38733774c7afc47a597c89595abd8a3522
